<section class="advantages section">
  <div class="advantages-wrapper">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-list-item">
        <div class="advantages-item-wrapper">
          <p class="advantages-item-text advantages-first-item-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <div class="advantages-item-wrapper">
          <p class="advantages-item-text">
            Fishing: try to catch your own dinner
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <div class="advantages-item-wrapper">
          <p class="advantages-item-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </div>
      </li>
      <li class="advantages-list-item">
        <div class="advantages-item-wrapper">
          <p class="advantages-item-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </div>
      </li>
    </ol>
    <picture>
      <source
        srcset="
          ./img/advantages/advantages-desk1440.jpg    1x,
          ./img/advantages/advantages-desk1440@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-desk1280.jpg    1x,
          ./img/advantages/advantages-desk1280@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/advantages/advantages-tab.jpg    1x,
          ./img/advantages/advantages-tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/advantages/advantages.jpg    1x,
          ./img/advantages/advantages@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advantages-img"
        src="./img/advantages/advantages.jpg"
        alt="furniture on board the yacht"
      />
    </picture>
  </div>
</section>
