<footer class="footer-section">
    <div class="footer-conteiner">
        <div class="footer-header"> 
            <nav class="footer-navigation">
                <a class="logo-footer"  href="./index.html">
                    yachtjet
                </a>
                <ul class="footer-menu-list">
                    <li>
                        <a class="footer-menu-link" href="#about">about</a>
                    </li>
                    <li>
                        <a class="footer-menu-link" href="#yachts">yachts</a>
                    </li>
                    <li>
                        <a class="footer-menu-link" href="reviews">reviews</a>
                    </li>
                </ul>
            </nav>
            <div class="footer-social-list-block">
                <ul class="footer-social-list">
                    <li class="footer-social-link">
                        <a class="social-link-icon" href="https://www.instagram.com/goitclub/">
                            <svg class="social-link-icon"
                            width="24" height="24"
                            aria-label="logo instagram" >
                                <use href="">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-link">
                        <a class="social-link-icon" href="https://www.youtube.com/c/GoIT ">
                            <svg class="social-link-icon"
                            width="24" height="24"
                            aria-label="logo youtube">
                                <use href="">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-link">
                        <a class="social-link-icon" href="https://www.facebook.com/goITclub/ ">
                            <svg class="social-link-icon"
                            width="24" height="24"
                            aria-label="logo facebook">
                                <use href="">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
    
            </div>
        </div>
    
        <p class="footer-main-text">
            No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </p>
    
        <div class="footer-last-text-box">
            <p class="footer-last-text">
                2023. Yacht Adventures
            </p>
            <a href="" class="footer-last-text">Privacy Police</a>
        </div>
    </div>
    

</footer>