<header class="header">
  <div class="header-div">
    <div class="header-container">
      <a class="logo-header" href="./index.html">yachtjet</a>
      <nav class="navigation">
        <ul class="header-link-list list">
          <li class="header-link-nav">
            <a class="header-link" href="#about">about</a>
          </li>
          <li class="header-link-nav">
            <a class="header-link" href="#yachts">yachts</a>
          </li>
          <li class="header-link-nav">
            <a class="header-link" href="#reviews">review</a>
          </li>
        </ul>
      </nav>
      <ul class="header-social-link-list list">
        <li class="header-social-list">
          <a
            class="header-social-link"
            href="https://www.instagram.com/goitclub/"
          >
            <svg
              class="logo-social-icon"
              width="24"
              height="24"
              aria-label="instagram icon"
            >
              <use href="./img/icons.svg#icon-instagram-header"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list">
          <a class="header-social-link" href="https://www.youtube.com/c/GoIT">
            <svg
              class="logo-social-icon"
              width="24"
              height="24"
              aria-label="youtube icon"
            >
              <use href="./img/icons.svg#icon-youtube-header"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list">
          <a
            class="header-social-link"
            href="https://www.facebook.com/goITclub/"
          >
            <svg
              class="logo-social-icon"
              width="24"
              height="24"
              aria-label="facebook icon"
            >
              <use href="./img/icons.svg#icon-facebook-header"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mobile-button-menu" type="button">
        <svg
          class="mobile-button-menu-icon"
          width="28"
          height="28"
          aria-label="mobile menu button"
        >
          <use href="./img/icons.svg#icon-menu-mobile-button"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
