<section class="header">
    <div class="container header-div">
        <div class="header-container">
            <p class="logo-header">yachtjet</p>
            <nav class="navigation">
                <ul class="header-link-list list">
                    <li class="header-link-nav">
                        <a class="header-link" href="./about.html#">about</a>
                    </li>
                    <li class="header-link-nav">
                        <a class="header-link" href="./our-yachts.html">yachts</a>
                    </li>
                    <li class="header-link-nav">
                        <a class="header-link" href="./reviews.html">review</a>
                    </li>
                </ul>
            </nav>
            <ul class="header-social-link-list list">
                <li class="header-social-list">
                    <a class="header-social-link" href="https://www.instagram.com/goitclub/">
                        <svg class="logo-social-icon" width="24" height="24" aria-label="instagram icon">
                            <use href="../img/icons.svg#icon-instagram-header"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-social-list">
                    <a class="header-social-link" href="https://www.youtube.com/c/GoIT">
                        <svg class="logo-social-icon" width="24" height="24" aria-label="youtube icon">
                            <use href="../img/icons.svg#icon-youtube-header"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-social-list">
                    <a class="header-social-link" href="https://www.facebook.com/goITclub/">
                        <svg class="logo-social-icon" width="24" height="24" aria-label="facebook icon"> class=mobile-modal-icon-social
                            <use href="../img/icons.svg#icon-facebook-header"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="mobile-button-menu" type="button">
                <svg class="mobile-button-menu-icon" width="28" height="28" aria-label="mobile menu button">
                    <use href="../img/icons.svg#icon-menu-mobile-button"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="mobile-modal ">
        <div class="mobile-modal-menu container">
                <div class="mobile-modal-header">
                    <p class="mobile-modal-logo">yachtjet</p>
                    <button class="modal-close-button" type="button">
                        <svg class="icon-menu-button" width="16" height="16" aria-label="mobile menu button">
                            <use href="../img/icons.svg#icon-menu-mobile-button-closed"></use>
                        </svg>
                    </button>
                </div>
            <ul class="mobile-modal-nav">
                <li class="mobile-modal-nav-list">
                    <a class="mobile-modal-nav-link about-mobile" href="">about</a>
                </li>
                <li class="mobile-modal-nav-list">
                    <a class="mobile-modal-nav-link" href="">yachts</a>
                </li>
                <li class="mobile-modal-nav-list">
                    <a class="mobile-modal-nav-link" href="">review</a>
                </li>
            </ul>
            <ul class="mobile-modal-social">
                <li class="mobile-modal-social-list">
                    <a class="mobile-modal-social-link" href="">
                        <svg class=mobile-modal-icon-social width="24" height="24" aria-label="instagram icon">
                            <use href="../img/icons.svg#icon-instagram-mobile-modal"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-modal-social-list">
                    <a class="mobile-modal-social-link" href="">
                        <svg class=mobile-modal-icon-social width="24" height="24" aria-label="youtube icon">
                            <use href="../img/icons.svg#icon-youtube-mobile-modal"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-modal-social-list">
                    <a class="mobile-modal-social-link" href="">
                        <svg class=mobile-modal-icon-social width="24" height="24" aria-label="facebook icon">
                            <use href="../img/icons.svg#icon-facebook-mobile-modal"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>