<div class="mobile-modal is-hidden" data-mobile-menu>
  <div class="mobile-modal-menu container">
    <div class="mobile-modal-header">
      <a class="mobile-modal-logo" href="../index.html">yachtjet</a>
      <button class="modal-close-button" type="button" data-mobile-menu-close>
        <svg
          class="icon-menu-button"
          width="16"
          height="16"
          aria-label="mobile menu button"
        >
          <use href="./img/icons.svg#icon-menu-mobile-button-closed"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-modal-nav">
      <li class="mobile-modal-nav-list">
        <a class="mobile-modal-nav-link" href="../index.html#about">about</a>
      </li>
      <li class="mobile-modal-nav-list">
        <a class="mobile-modal-nav-link" href="../index.html">yachts</a>
      </li>
      <li class="mobile-modal-nav-list">
        <a class="mobile-modal-nav-link" href="../index.html#review">review</a>
      </li>
    </ul>
    <ul class="mobile-modal-social">
      <li class="mobile-modal-social-list">
        <a class="mobile-modal-social-link" href="">
          <svg
            class="mobile-modal-icon-social"
            width="24"
            height="24"
            aria-label="instagram icon"
          >
            <use href="./img/icons.svg#icon-instagram-mobile-modal"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-modal-social-list">
        <a class="mobile-modal-social-link" href="">
          <svg
            class="mobile-modal-icon-social"
            width="24"
            height="24"
            aria-label="youtube icon"
          >
            <use href="./img/icons.svg#icon-youtube-mobile-modal"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-modal-social-list">
        <a class="mobile-modal-social-link" href="">
          <svg
            class="mobile-modal-icon-social"
            width="24"
            height="24"
            aria-label="facebook icon"
          >
            <use href="./img/icons.svg#icon-facebook-mobile-modal"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
