<section class="our-yachts container">
    <h2 class="our-yachts-title">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="our-yachts-menu">
        <li class="our-yachts-menu-part">
            <picture>
                <source
                    srcset="../img/our-yachts/arrow-yacht-desk1440.jpg 1x, ../img/our-yachts/arrow-yacht-desk1440@2x.jpg 2x"
                    media="(min-width: 1440px)">
                <source
                    srcset="../img/our-yachts/arrow-yacht-desk1280.jpg 1x, ../img/our-yachts/arrow-yacht-desk1280@2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source srcset="../img/our-yachts/arrow-yacht-tab.jpg 1x, ../img/our-yachts/arrow-yacht-tab@2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="../img/our-yachts/arrow-yacht.jpg 1x, ../img/our-yachts/arrow-yacht@2x.jpg 2x"
                    media="(max-width: 767px)">
                <img src="../img/our-yachts/arrow-yacht.jpg" alt="Arrow yacht">
            </picture>
            <div class="our-yachts-card-title">
                <p class="our-yachts-name">arrow</p>
                <p class="our-yachts-luxury">luxury yahts</p>
            </div>
            <div class="our-yachts-description">
                <ul class="our-yachts-features-menu">
                    <li class="our-yachts-features-part">length</li>
                    <li class="our-yachts-features-part">builder</li>
                    <li class="our-yachts-features-part">built</li>
                    <li class="our-yachts-features-part">guests</li>
                    <li class="our-yachts-features-part">price</li>
                </ul>
                <ul class="our-yachts-info-menu">
                    <li class="our-yachts-info-part">48m(155ft)</li>
                    <li class="our-yachts-info-part">Admiral</li>
                    <li class="our-yachts-info-part">2021</li>
                    <li class="our-yachts-info-part">11 in 5 cabins</li>
                    <li class="our-yachts-info-part">€33,500,000</li>
                </ul>
            </div>
        </li>
        <li class="our-yachts-menu-part">
            <picture>
                <source
                    srcset="../img/our-yachts/benetti-oasis-yacht-desk1440.jpg 1x, ../img/our-yachts/benetti-oasis-yacht-desk1440@2x.jpg 2x"
                    media="(min-width: 1440px)">
                <source
                    srcset="../img/our-yachts/benetti-oasis-yacht-desk1280.jpg 1x, ../img/our-yachts/benetti-oasis-yacht-desk1280@2x.jpg 2x"
                    media="(min-width: 1280px)">
                <source
                    srcset="../img/our-yachts/benetti-oasis-yacht-tab.jpg 1x, ../img/our-yachts/benetti-oasis-yacht-tab@2x.jpg 2x"
                    media="(min-width: 768px)">
                <img src="../img/our-yachts/benetti-oasis-yacht-tab.jpg" alt="Benetti Oasis 40m BO122 yacht">
            </picture>
            <div class="our-yachts-info">
                <p class="our-yachts-name">benetti oasis 40m bo122</p>
                <p class="our-yachts-luxury">luxury yahts</p>
            </div>
            <div class="our-yachts-description">
                <ul class="our-yachts-features-menu">
                    <li class="our-yachts-features-part">length</li>
                    <li class="our-yachts-features-part">shipyard</li>
                    <li class="our-yachts-features-part">built</li>
                    <li class="our-yachts-features-part">guests</li>
                    <li class="our-yachts-features-part">price</li>
                </ul>
                <ul class="our-yachts-info-menu">
                    <li class="our-yachts-info-part">41m (133ft)</li>
                    <li class="our-yachts-info-part">Benetti</li>
                    <li class="our-yachts-info-part">2025</li>
                    <li class="our-yachts-info-part">10 in 5 cabins</li>
                    <li class="our-yachts-info-part">€23,210,000</li>
                </ul>
            </div>
        </li>
        <li class="our-yachts-menu-part">
            <picture>
                <source
                    srcset="../img/our-yachts/belle-anna-yacht-desk1440.jpg 1x, ../img/our-yachts/belle-anna-yacht-desk1440@2x.jpg  2x"
                    media="(min-width: 1440px)">
                <source
                    srcset="../img/our-yachts/belle-anna-yacht-desk1280.jpg 1x, ../img/our-yachts/belle-anna-yacht-desk1280@2x.jpg 2x"
                    media="(min-width: 1280px)">
                <img src="../img/our-yachts/belle-anna-yacht-desk1280.jpg" alt="Bellle Anna yacht">
            </picture>
            <div class="our-yachts-info">
                <p class="our-yachts-name">bellle anna</p>
                <p class="our-yachts-luxury">luxury yahts</p>
            </div>
            <div class="our-yachts-description">
                <ul class="our-yachts-features-menu">
                    <li class="our-yachts-features-part">length</li>
                    <li class="our-yachts-features-part">shipyard</li>
                    <li class="our-yachts-features-part">built</li>
                    <li class="our-yachts-features-part">guests</li>
                    <li class="our-yachts-features-part">price</li>
                </ul>
                <ul class="our-yachts-info-menu">
                    <li class="our-yachts-info-part">50m(155ft)</li>
                    <li class="our-yachts-info-part">ISA</li>
                    <li class="our-yachts-info-part">2012</li>
                    <li class="our-yachts-info-part">12 in 6 cabins</li>
                    <li class="our-yachts-info-part">€21,000,000</li>
                </ul>
            </div>
        </li>
    </ul>
    <button type="button" class="our-yachts-button">Yacht rental</button>
</section>