html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1B414B;
    font-size: 18px;
    line-height: 1;
    background-color: #0E1823;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style-type: none;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  @media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media screen and (min-width: 1440px) {
  .container {
      max-width: 1440px;
    }
  }