body {
    font-family: 'Inter', sans-serif;
    color: #1B414B;
    font-size: 18px;
    line-height: 1;
    background-color: #0E1823;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
}