.body {
    font-family: 'Inter', sans-serif;
    color: #1B414B;
    font-size: 18px;
    line-height: 1;
    background-color: #FBFBFB;
}

.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
}