.header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    background: #FBFBFB;
}
.navigation {
    display: flex;
    text-align: center;
}
.header-link-list {
    display: flex;
}
.logo-header {
    color: #1B414B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.03em;
    margin-left: 20px;
}
/* mobile styles */
@media screen and (max-width: 767px) {
    .header-link-list {
        display: none;
    }
    .header-div {
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    /* .container {
        min-width: 320px;
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
    } */
    .header-container {
        
        height: 42px;
    }
    .header-social-link-list {
        display: none;
    }
    .mobile-button-menu {
        stroke: rgba(27, 65, 75, 1);
        background-color: transparent;
        border: none;
        margin-right: 20px;
    }
    .mobile-modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #0E1823;
        transform: translateX(100%);
    }
    .mobile-modal.is-open {
        transform: translateX(0%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-modal-menu {
        padding-top: 16px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        border: 1px solid #FBFBFB;
        background-color: #FBFBFB;
        width: 100%;
    }
    .mobile-modal-logo {
        margin: 12px 0px 13px 20px;
        color: #1B414B;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.03em;
    }
    .modal-close-button {
        width: 28px;
        height: 28px;
        background-color: transparent;
        border: none;
        margin-right: 20px;
        fill: rgba(5, 85, 69, 1);
    }
    .mobile-modal-nav-list {
        display: flex;
    }
    .mobile-modal-nav-link {
        text-align: center;
        width: 91px;
        height: 40px;
        border-radius: 8px;
        padding: 15px 25px 15px 24px;
        background-color: rgba(27, 65, 75, 0.50);
        margin-bottom: 4px;
        color: #FBFBFB;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3;
        text-transform: uppercase;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-modal-nav-link:hover {
        background-color: rgba(27, 65, 75, 1);
    }
    .mobile-modal-nav-link:focus {
        background-color: rgba(27, 65, 75, 1);
    }
    .mobile-modal-social {
        display: flex;
        gap: 8px;
    }
    .mobile-modal-social-list {
        display: flex;
    }
    .mobile-modal-social-link {
        width: 24px;
        height: 24px;
        fill: #FBFBFB;
    } 
    .mobile-modal-social-link:hover {
        fill: #FBFBFB;
    }
    .mobile-modal-social-link:focus {
        fill: #FBFBFB;
    }
}
/* tablet styles */
@media screen and (min-width: 768px) {
    .mobile-modal {
        display: none;
    }
    .mobile-button-menu {
        display: none;
    }
    /* .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    } */
    .header-div {
        padding-top: 32px;
        padding-bottom: 59px;
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-container {
        /* width: 704px; */
        height: 48px;
    }
    .logo-header {
        margin-left: 28px;
        color: #1B414B;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.02em;
    }
    .navigation {
        gap: 4px;
    }
    .header-social-link-list {
        display: flex;
        margin-right: 28px;
        gap: 8px;
    }
    .header-link-list {
        gap: 4px;
    }
    .header-link {
        width: 42px;
        color: #FBFBFB;
        text-align: center;
        align-items: center;
        padding: 15px 25px 15px 24px;
        font-size: 9px;
        font-weight: 400;
        line-height: 1.30;
        width: 91px;
        height: 40px;
        border-radius: 8px;
        background-color: rgba(27, 65, 75, 0.50);
        text-transform: uppercase;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-link-nav {
        display: flex;
    }
    .header-link:hover {
        background-color: rgba(27, 65, 75, 1);
    }
    .header-link:focus {
        background-color: rgba(27, 65, 75, 1);
    }
    .header-social-list {
        width: 24px;
        height: 24px;
    }
    .header-social-link {
        fill: rgba(27, 65, 75, 1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-social-link:hover {
        fill: rgba(6, 39, 48, 1);
    }
    .header-social-link:focus {
        fill: rgba(6, 39, 48, 1);
    }
}
/* desktop styles */
@media screen and (min-width: 1280px) {
    
    .logo-header {
        margin-left: 30px;
    }
    .header-div {
        width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width: 1440px) {
    .header-div {
        width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
