.our-yachts {
  background-color: #0e1823;
}
.our-yachts-title {
  width: 319px;

  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
}
.our-yachts-menu {
}
.our-yachts-menu-part {
}
.our-yachts-card-title {
}
.our-yachts-name {
}
.our-yachts-luxury {
}
.our-yachts-description {
}
.our-yachts-features-menu {
}
.our-yachts-features-part {
}
.our-yachts-info-menu {
}
.our-yachts-info-part {
}
.our-yachts-info {
}
.our-yachts-button {
}
