/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./variable.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./our-yachts.css');
@import url('./advantages.css');
@import url('./rent-yachts.css');
@import url('./reviews.css');
@import url('./footer.css');


